html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  overflow:visible;
  max-width: 100%;
}

.nav{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: 0;
  min-width: 1000px;
  box-shadow:1px 1px 25px 1px rgb(0,0,0, 0.5);
}

.left-side{
  position: relative;
  padding-left: 40px;
  vertical-align: middle;
  margin: 0;
  float: left;
}

.right-side{
  right: 0;
  float: right;
  top: 0;
}

.menu{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  list-style: none;
  margin: 0;
}

.menu li{
  padding: 27px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a{
    text-decoration: none;
    color: rgb(36, 38, 38);
}

.menu li:hover{
  cursor: pointer;
}

.menu li:hover {
  background-color: rgb(149, 219, 196);
}

.menu li:active{
  background-color: rgb(89, 143, 125);
  cursor: pointer;
}

.main{
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  margin-bottom: 0;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.5);
}

.first{
  background: url("../PICS/foto.png") no-repeat 50% 50%;
  top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

.second{
  background: url("../PICS/ws_Working_1920x1080.png") no-repeat 50% 50%;
  top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

.third{
  background: url("../PICS/offset_592508_049981b5-8eab-4a14-a61d-7740a5f43456-prv0.png") no-repeat 50% 50%;
  top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

.fourth{
  background: url("../PICS/barry-casson-musician-drummer-public-speaking-photo-67643351-123RF.png") no-repeat 50% 50%;
  top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
}

.text{
  font-size: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  float: right;
  margin-top: 275px;
  text-align: right;
  margin-bottom: 0;
  color: white;
  margin-right: 80px;
  position: absolute;
  right: 0;
  z-index: 0;
}

.main-area{
  width: 100%;
  height: 100%;
}

.main-content{
  width: 100%;
  height: 100%;
}

.first .text{
  font-size: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  float: right;
  margin-top: 125px;
  text-align: right;
  margin-bottom: 0;
  color: white;
  margin-right: 80px;
  position: absolute;
  right: 0;
}

.button{
  right: 0;
  margin-top: 587px;
  width: 280px;
  height: 75px;
  background: none;
  border-radius: 20px;
  border-color: white;
  border-width: 1px;
  margin-right: 85px;
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 28px;
  color: white;
}

.button:hover{
  border-color: rgb(89, 143, 125);
  color: rgb(89, 143, 125);
  cursor: pointer;
}

.button:active{
  border-color: rgb(149, 219, 196);
  color: rgb(149, 219, 196);
  cursor: pointer;
  outline-color: inherit;
}

.content{
  padding: 120px 240px;
  min-width: 1000px;
}

.one{
  display: flex;
}

.four{
  display: flex;
}
.table{
  position: relative;
  float: left;
  flex-basis: 50%;
}

.photo{
  margin: 16px
}

.description{
  text-align: justify;
  margin-left: 50px;
  font-size: 25px;
  min-width: 540px;
}

.teks h1{
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 16px;
  font-size: 40px;
}

footer{
  border-top: 1px solid rgb(89, 143, 125, 0.8);
  margin: 30px 120px;
  text-align: center;
}

.social{
  list-style: none;
  padding: 0;
}

.social li{
  display: inline-block;
  padding: 15px;
}

footer .know{
  font-size: 30px;
  font-weight: 400;
  margin: 50px;
  margin-bottom: 10px;
}


.socmed{
  margin-bottom: 25px;
}

.social li a:hover img{
  transform: scale(1.5);
}
.copyright{
  margin: 30px;
  margin-bottom: 35px;
  font-weight: 500;
}

td{
  padding: 12px;
  vertical-align: middle;
}

.pic{
  padding-left: 30px;
  text-align: justify;
}

.isi{
  padding-right: 30px;
  text-align: justify;
}

.isi h2{
  text-align: left;
}

.organization{
  color: rgb(36, 38, 38);
}

.organization h1, .experience h1{
  margin: 0;
  padding: 10px;
}

.organization th, .experience th{
  background:rgb(89, 143, 125);
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.organization td, .experience td{
  text-align: center;
  padding: 10px 30px;
  border-radius: 6px;
}

.name a:hover{
  color: rgb(54, 73, 67);
}

.odd{
  background-color: rgb(160, 193, 182);
}

.even{
  background-color: rgb(130, 173, 159);
}

.satu{
  width: 35%;
}

.dua{
  width: 65%;
}

.message-form p{
  margin: 25px;
  font-size: 20px;
  font-weight: 500;
}
.input{
  margin: 10px;
  border: 1px solid rgb(160, 193, 182);
  border-radius: 2px;
  text-align: center;
  width: 300px;
  font-family: 'Quicksand', sans-serif;

}

.email{
  height: 25px;
}

.message{
  height: 80px;
}

.input:focus{
  outline: none !important;
  border:1px solid rgb(89, 123, 126);
}

.submit{
  border: none;
  background: rgb(89, 123, 126);
  color: white;
  border-radius: 2px;
  width:110px;
  height:40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 10px;
}

.submit:hover{
  background-color: rgb(54, 73, 67);
  cursor: pointer;
}

.your-name{
  margin-left: 50px;
  border: none;
  border-radius: 2px;
}

.your-name:focus{
  outline: none !important;
  border
}

.button-name{
  background-color: rgb(89, 123, 126);
  margin-left: 30px;
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.button-name:hover{
  background-color: rgb(54, 73, 67);
  cursor: pointer;
}

.contact li a img{
  transform: scale(1.2);
}
